spring:
  application:
    name: SmartSabzi


# H2 In-Memory Configuration
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver
    #Connection pool tuning
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 20000

  jpa:
    hibernate:
      dll-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  # Enable H2 Console (web GUI)
  h2:
    console:
      enabled: true
    path: /h2-console

server:
  port: 8080
  servlet:
    context-path: /api

security:
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration-time: 3600000 # 1H in millisecond

# Logging
logging:
  level:
    root: INFO
    org:
      springframework : INFO
      hibernate.SQL : DEBUG
    web: DEBUG

#Swagger/OpenAPI
springdoc:
  api-docs:
    path: /docs
  swagger-ui:
    path: /swagger